* {
  padding:0;
  margin:0;
}

.page-margin {
  margin: 5%;
}

nav {
  border-bottom: 5px solid rgb(211, 16, 16);
  margin-top: 10px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  text-align:center;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
  color:black;
  padding:20px 30px 21px 30px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}


li a:hover{
  background-color: rgb(211, 16, 16);
  color:white;
}

.articleList_titles {
  text-decoration: none;
  color: black;
  line-height: 2rem;
}

.ArticlesList_Line {
  margin:3% 30% 3% 30%;
  border-bottom: 2px solid black;
}

h1,h5,h3 {
  margin-left:30%;
  color:rgb(211, 16, 16) ;
  cursor: pointer;
}

.comments {
  font-size: 14px;
}

.wrapper-content {
  border: 2px dashed rgb(211, 16, 16);
  padding: 2%;
}
.other_articles {
  margin:8% 30% 3% 30%;
}

#comment-form {
  display: flex;
  border:2px solid rgb(211, 16, 16);
  border-radius: 3px;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  margin-left:30%;
  margin-right: 30%;
  color:rgb(211, 16, 16);
  font-weight: bold;
}

#comment-form input{
  padding: 5px;
  border-radius: 5px none;
}

#comment-form button {
  background-color: rgb(211, 16, 16);
  color:white;
  padding: 10px;
  border:none;
  cursor: pointer;
  border-radius: 3px;
}